.login-box {
  margin: 20% 40%;
  width: 40vw;
  height: 50vh;
  min-height: 400px;
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 0 0 18px 4px #d9d7d7;;
}
